@using CESMII.ProfileDesigner.DAL.Models
@model ProfileModel
@{
    Layout = "_EmailLayout";
}

<div>
    <h2>Profile Submission</h2>
    <p>Thank you for submitting your profile @Model.Namespace to the Clean Energy Smart Manufacturing Innovation Institute (CESMII) Cloud Library.</p>

    <p>Thank you for your support of the CESMII Profile Designer!</p>

    <p>Sincerely,<br/>
    CESMII Support Team</p>
    <br />
</div>

    <div>
        <h2>Profile Review</h2>
    <p>Your submission will be reviewed by the CESMII team. After approval, 
       your profile will appear in the CESMII Cloud Library and Marketplace. 
       If we reject your profile, we will send you details about required changes.</p>
    <br />
    </div>

    <div>
        <h2>Checking Profile Status</h2>
    <p>To check on the status of your submission, visit the Profile Library in the Profile Designer.</p>
    <br />
    </div>

    <div>
        <h2>Editing a Profile</h2>
    <p>Please note that once a profile has been submitted for publishing, the profile is no longer editable. 
        If you wish to make edits, you can cancel a submission by clicking the Cancel Publish button in the 
        Profile Library. You can then make edits in a profile and then submit the profile at a later time for publishing.</p>
    <br />
    </div>

    <div>
        <h2>Profile Author and Organization</h2>
        <p>Author: @Model.Author.DisplayName [@Model.Author.Email]<br/>
            Organization: @Model.Author.Organization.Name
        </p>
    <br />
</div>

    <div>
        <h2>Profile Information</h2>
        <p>
            Profile Title: @Model.Title<br />
            Profile Description: @Model.Description<br />
            Profile Namespace: @Model.Namespace<br />
            Profile Version: @Model.Version<br />
            Profile Publication Date: @Model.PublishDate<br />
            Profile License: @Model.License<br />
        </p>
    <br />
    <br />
</div>
