@using CESMII.ProfileDesigner.DAL.Models
@model ProfileModel
@{
    Layout = "_EmailLayout";
}

<div>
    <p>We have received your request to cancel the Smart Manufacturing Profile submission for profile <b>@Model.Title</b>. You may now access and edit your profile from the CESMII <a href="https://profiledesigner.cesmii.net/profiles/library">Profile Library</a> and submit your profile to be published at a later time.</p>
    <p>Here are the details of your submission:</p>
</div>

    <div>
        <h3>Profile: @Model.Title</h3>
    <p style="margin-left:35px;">
            Title: @Model.Title<br />
            Description: @Model.Description<br />
            Namespace: @Model.Namespace<br />
            Version: @Model.Version<br />
            Publication Date: @Model.PublishDate<br />
            License: @Model.License<br />
        </p>
</div>
<div>
    <h3>Author &amp; Organization</h3>
    <p style="margin-left:35px;">
        Author: @Model.Author.DisplayName [@Model.Author.Email]<br />
        Organization: @Model.Author.Organization.Name
    </p>
</div>

<div>
    <br />
    <p>Thank you again for your support of the CESMII <a href="https://profiledesigner.cesmii.net/">Smart Manufacturing Profile&trade; Designer</a>!</p>
    <br/>
    <br />

    <p> Sincerely,<br />
        CESMII Support Team
    </p>
    <br />
    <br />
</div>

