@using CESMII.ProfileDesigner.DAL.Models
@model ProfileModel
@{
    Layout = "_EmailLayout";
}

<div>
    <p>We have received your request to cancel the Smart Manufacturing Profile submission for profile <b>@Model.Title</b>. Your may now edit your profile and submit it to be published at a later time.</p>
    <p>Here are the details of your submission:</p>
</div>

    <div>
        <h3>Profile: @Model.Title</h3>
    <p style="margin-left:35px;">
            Title: @Model.Title<br />
            Description: @Model.Description<br />
            Namespace: @Model.Namespace<br />
            Version: @Model.Version<br />
            Publication Date: @Model.PublishDate<br />
            License: @Model.License<br />
        </p>
</div>
<div>
    <h3>Author and Organization</h3>
    <p style="margin-left:35px;">
        Author: @Model.Author.DisplayName [@Model.Author.Email]<br />
        Organization: @Model.Author.Organization.Name
    </p>
    <br />
</div>

<div>
    <p>Thank you again for your support of the CESMII Profile Designer!</p>
    <br/>
    <br />

    <p>
        Sincerely,<br />
        CESMII Support Team
    </p>
    <br />
</div>

